<div class="container-fluid">
    <div class="row">
        <nav id="nav-left" class="col-sm-3 col-md-2">
            <h3>李名凯的个人网站</h3>

            <p>尽人事，听天命。唯有不可能值得超越。</p>
            <ul>
                <li><a ui-sref="index">首页</a></li>
                <li><a ui-sref="nav.about">关于我</a></li>
                <!--<li><a ui-sref="nav.blog">博客</a></li>-->
            </ul>
            <h4>联系方式</h4>

            <p>个人网站：<a href="http://www.limingkai.cn">http://www.limingkai.cn</a></p>

            <p>GitHub：<a href="https://github.com/lmk123">https://github.com/lmk123</a></p>

            <p>邮箱：<a href="mailto:milk.lee@qq.com">milk.lee@qq.com</a></p>
        </nav>
        <div class="col-sm-9 col-md-10" ui-view></div>
    </div>
</div>
